.home {
    .homeContent {
        box-shadow: $boxShadow;
        background: linear-gradient(140deg, $white 45%, transparent 100%);
        min-height: $minHeight;
        width: 100%;
        border-radius: $borderRadius;
        position: relative;
        overflow: hidden;
        &:after {
            content: '';
            position: absolute;
            height: 100%;
            width: inherit;
            background: url('../../media/milanRougemont.jpeg') no-repeat center/cover;
            z-index: -1;
            filter: brightness(30%);
        }
        .content {
            position: absolute;
            top: 20%;
            left: 13%;
            font-family: $font-lato;
            h1 {
                font-size: 5rem;
                font-family: $font-montserrat;
                color: $black;
                text-transform: uppercase;
            }
            h2 {
                font-size: 2.5rem;
                padding: 1.5rem 0 7rem;
                color: $color-UnitedNationBlue;
                text-shadow: 1px 4px 1px $color-ViridianGreen;
            }
            .pdf {
                a {
                    font-size: 1.5rem;
                    background: $color-UnitedNationBlue;
                    padding: 1rem 2rem;
                    border-radius: $borderRadius;
                    box-shadow: 0 5px 1px $color-ViridianGreen;
                    transition: 0.2s ease;
                    color: $white;
                    &:hover {
                        background: $color-Opal;
                        box-shadow: 0 5px 1px rgb(224, 131, 0);
                        color: $black;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .homeContent {
        margin: 0 !important;
    }
}

@media screen and (max-width:580px) {
    .homeContent {
        &:after {
            background: url('../../media/milanRougemont.jpeg') no-repeat 60% 50%/cover !important;
        }
        h1 {
            font-size: 3rem !important;
        }
        h2 {
            font-size: 1.8rem !important;
        }
    }
}